.items-category-section {
  overflow-x: auto;
}

.item-category-card {
  min-width: 6rem;
  max-width: 6rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 1rem 0 1rem 2rem;
}
.items-section {
  margin: 1rem 0 1rem 2rem;
}
.item-card {
  min-width: 8rem;
  max-width: 8rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 1rem 0 1rem 1rem;
}
.item-price {
  margin-top: auto;
  margin-bottom: 10px;
  color: #dc1e44;
  font-weight: bold;
}
.item-stock {
  margin-top: auto;
  font-weight: bold;
  color: green;
}
.qty-btn {
  max-height: 3rem;
  border-radius: 1rem;
  border: 1px solid #dc1e44;
  width: 3rem;
  height: 2rem;
  margin-top: 1rem;
}
.qty-cart {
  margin: 1.5rem 8px 0 8px;
}
.qty-cart-section {
  margin-top: 1rem;
}
.add-to-cart {
  margin-top: 4%;
}
.add-cart-total {
  width: 100%;
  height: 60px;
  border-radius: 10px;
}
.search-customer-input {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-customer-input {
  width: 88%;
  height: 2rem;
  border-radius: 10px;
  margin-left: 6px;
}
.select-customer {
  width: 35rem;
  height: 3rem;
  border-radius: 10px;
  background-color: #dc1e44;
}
.select-customer-section {
  width: 31rem;
  border-radius: 10px;
  border: 1px solid #dc1e44;
  background-color: #fef9fa;
}
.customer-dropdown {
  width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: #fef9fa;
}
