include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include getpos *.css
recursive-include getpos *.csv
recursive-include getpos *.html
recursive-include getpos *.ico
recursive-include getpos *.js
recursive-include getpos *.json
recursive-include getpos *.md
recursive-include getpos *.png
recursive-include getpos *.py
recursive-include getpos *.svg
recursive-include getpos *.txt
recursive-exclude getpos *.pyc
