include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include nbpos *.css
recursive-include nbpos *.csv
recursive-include nbpos *.html
recursive-include nbpos *.ico
recursive-include nbpos *.js
recursive-include nbpos *.json
recursive-include nbpos *.md
recursive-include nbpos *.png
recursive-include nbpos *.py
recursive-include nbpos *.svg
recursive-include nbpos *.txt
recursive-exclude nbpos *.pyc