<header class="w-full mx-auto duration-100 ease-in flex-none sticky lg:bg-white top-0 transition-all z-40"
id="header">
<div
	class="w-full mx-auto max-sm:w-full md:max-w-7xl lg:flex lg:max-w-7xl max-md:max-w-7xl md:justify-between">
	<div class="flex justify-between">
		<a href="/" class="flex 2xl:lg:mt-0 items-center flex my-auto lg:-mt-1">
			<img src="/assets/getpos/images/getpos-dark-logo.webp" alt="GETPOS"
				class="logo-size logo-white" loading="lazy" decoding="async">
		</a>
		<div class="flex items-center lg:hidden">
			<button
				class="text-sm focus:outline-none inline-flex items-center p-2.5 dark:focus:ring-gray-700 focus:ring-2 focus:ring-gray-500 ml-1.5 rounded-sm text-gray-500 toggle-mobile transition"
				type="button" aria-label="Toggle Menu" data-aw-toggle-menu="">
				<svg viewBox="0 0 40 40" fill="none" height="40" width="40" xmlns="http://www.w3.org/2000/svg">
					<g filter="url(#filter0_d_134_3211)" opacity="0.1">
						<rect fill="black" height="40" rx="8" width="40" x="0" y="0"></rect>
					</g>
					<path d="M11 20H29" stroke="#000" stroke-width="2" stroke-linecap="round"
						stroke-linejoin="round" opacity="0.8"></path>
					<path d="M11 14H22" stroke="#000" stroke-width="2" stroke-linecap="round"
						stroke-linejoin="round" opacity="0.8"></path>
					<path d="M11 26H22" stroke="#000" stroke-width="2" stroke-linecap="round"
						stroke-linejoin="round" opacity="0.8"></path>
					<defs>
						<filter color-interpolation-filters="sRGB" filterUnits="userSpaceOnUse" height="40"
							id="filter0_d_134_3211" width="40" x="0" y="0">
							<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
							<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
								in="SourceAlpha" result="hardAlpha"></feColorMatrix>
							<feOffset dy="2.5"></feOffset>
							<feGaussianBlur stdDeviation="4"></feGaussianBlur>
							<feColorMatrix type="matrix"
								values="0 0 0 0 0.025 0 0 0 0 0.0399123 0 0 0 0 0.166667 0"></feColorMatrix>
							<feBlend in2="BackgroundImageFix" mode="normal"
								result="effect1_dropShadow_134_3211"></feBlend>
							<feBlend in2="effect1_dropShadow_134_3211" mode="normal" result="shape"
								in="SourceGraphic"></feBlend>
						</filter>
					</defs>
				</svg>

			</button>
		</div>
	</div>

	<nav aria-label="Main navigation"
		class="w-full lg:w-auto h-[calc(100vh-72px)] items-center lg:bg-transparent lg:flex lg:h-auto lg:mx-5 lg:overflow-visible overflow-y-auto hidden-mobile">
		<ul class="flex flex-col lg:flex-row lg:self-center lg:w-auto nav-links text-lg w-full laptop-view">
			<!-- <li class="">
				<a class="flex py-2.5 no-underline items-center md:px-4 nav-links xl:px-4 inter hover-highlight" href="/about-us" >About us</a>
			</li> -->
			<li class="mb-dropdown" data-modal-id="modal1">
			   <button class="flex py-2.5 no-underline items-center md:px-3 nav-links xl:px-4 inter" id="solutions-link" data-modal-id="modal1">Solutions</button>

			   <div id="modal1" class="fixed hidden-modal z-50 mt-99px">
				   <div class="flex items-center justify-center">
					   <div
						   class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all w-auto max-w-none">
						   <div class="modal-content">
							   <div
								   class="items-stretch grid md:grid-cols-2 lg:grid-cols-3 sm:grid-cols-1 nav-grid">
								   <a href="/retail">
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/solution-icon3.webp"
											   alt="solution-icon1" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">Retail</h2>
										   <p class="inter"> Sell products in-store & on the go with cloud-based POS on any device.</p>
									   </div>
								   </div>
								</a>
								<a href="/food">
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/solution-icon2.webp"
											   alt="solution-icon2" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">Food</h2>
										   <p class="inter">Manage orders, payments, inventory & simplify restaurant operations.</p>
									   </div>
								   </div>
								   </a>
								<a href="/booking">
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/solution-icon1.webp"
											   alt="solution-icon3" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">Booking</h2>
										   <p class="inter">Make organized communication, centralizes payments and efficient staff management.</p>
									   </div>
								   </div>
								   </a>
							   </div>
						   </div>
					   </div>
				   </div>
			   </div>
			</li>
			<li class="mb-dropdown" data-modal-id="modal2">
			   <button class="flex py-2.5 no-underline items-center md:px-3 nav-links xl:px-4 inter"
				   id="features-link" data-modal-id="modal2">Features</button>

			   <div id="modal2" class="fixed hidden-modal z-50 mt-99px">
				   <div class="flex items-center justify-center">
					   <div
						   class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all w-auto max-w-none">
						   <div class="modal-content">
							   <div
								   class="items-stretch grid md:grid-cols-2 lg:grid-cols-4 sm:grid-cols-1 nav-grid">
								   <a href="/order-management-system">
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/feature-icon1.webp"
											   alt="solution-icon1" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">OMS</h2>
										   <p class="inter">Enhance order processing with real-time tracking and centralized sales data.</p>
									   </div>
								   </div>
								</a>
								<a href="/warehouse-management-system">
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/feature-icon2.webp"
											   alt="solution-icon2" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">WMS</h2>
										   <p class="inter">Optimize inventory tracking and warehouse operations easily.</p>
									   </div>
								   </div>
								   </a>
								   <a href="/accounts" aria-disabled="true">
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/feature-icon3.webp"
											   alt="solution-icon3" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">Accounts</h2>
										   <p class="inter">Simplify finances with automated transactions and real-time insights.</p>
									   </div>
								   </div>
								</a>
								<a href="/hr-and-payroll" aria-disabled="true">
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/feature-icon4.webp"
											   alt="solution-icon3" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">HR & Payroll</h2>
										   <p class="inter">Manage employee data and payroll efficiently with integrated tools.</p>
									   </div>
								   </div>
								</a>
								<a href="/manufacturing">

								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/feature-icon5.webp"
											   alt="solution-icon3" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">Manufacturing</h2>
										   <p class="inter">Boost production efficiency with advanced tools and real-time monitoring.</p>
									   </div>
								   </div>
								</a>
							   </div>
						   </div>
					   </div>
				   </div>
			   </div>
			</li>
			<li class="mb-dropdown" data-modal-id="modal3">
			   <button class="flex py-2.5 no-underline items-center md:px-3 nav-links xl:px-4 inter"
				   id="resources-link" data-modal-id="modal3">Resources</button>

			   <div id="modal3" class="fixed hidden-modal z-50 mt-99px">
				   <div class="flex items-center justify-center">
					   <div
						   class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all w-auto max-w-none">
						   <div class="modal-content">
							   <div
								   class="items-stretch grid md:grid-cols-2 lg:grid-cols-2 sm:grid-cols-1 nav-grid">
								   <!-- <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/resources-icon1.webp"
											   alt="solution-icon1" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">API Docs</h2>
										   <p class="inter">Lorem ipsum dolor sit amet,
											   consectetur&nbsp;<br>adipiscing elit</p>
									   </div>
								   </div> -->
								   <a href="/blog" aria-disabled="true">
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/resources-icon2.webp"
											   alt="solution-icon2" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">Blogs</h2>
										   <p class="inter">Insights and tips on simplifying your business operations.</p>
									   </div>
								   </div>
								   </a>
								   <a href="" aria-disabled="true" style="pointer-events: none">
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/resources-icon3.webp"
											   alt="solution-icon3" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">Case Studies</h2>
										   <p class="inter">Real-world success stories with GETPOS solutions.</p>
									   </div>
								   </div>
								   </a>
							   </div>
						   </div>
					   </div>
				   </div>
			   </div>
			</li>
			<li class="">
				<a class="flex py-2.5 no-underline items-center md:px-4 nav-links xl:px-4 inter hover-highlight" href="/about-us" >About us</a>
			</li>
			<!-- <li data-modal-id="modal4">
			   <button class="flex py-2.5 no-underline items-center md:px-3 nav-links xl:px-4 inter"
				   id="company-link" data-modal-id="modal4">Company</button>

			   <div id="modal4" class="fixed hidden-modal z-50 mt-99px">
				   <div class="flex items-center justify-center">
					   <div
						   class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all w-auto max-w-none">
						   <div class="modal-content">
							   <div
								   class="items-stretch grid md:grid-cols-2 lg:grid-cols-4 sm:grid-cols-1 nav-grid">
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/company-icon1.webp"
											   alt="solution-icon1" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">About Us</h2>
										   <p class="inter">Lorem ipsum dolor sit amet,
											   consectetur&nbsp;<br>adipiscing elit</p>
									   </div>
								   </div>
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/company-icon2.webp"
											   alt="solution-icon2" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">Careers</h2>
										   <p class="inter">Lorem ipsum dolor sit amet,
											   consectetur&nbsp;<br>adipiscing elit</p>
									   </div>
								   </div>
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/company-icon3.webp"
											   alt="solution-icon3" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">News</h2>
										   <p class="inter">Lorem ipsum dolor sit amet,
											   consectetur&nbsp;<br>adipiscing elit</p>
									   </div>
								   </div>
								   <div class="flex gap-4">
									   <div class="modal-img">
										   <img src="/assets/getpos/images/company-icon4.webp"
											   alt="solution-icon3" class="nav-icon-img">
									   </div>
									   <div class="modal-text">
										   <h2 class="inter">Partners</h2>
										   <p class="inter">Lorem ipsum dolor sit amet,
											   consectetur&nbsp;<br>adipiscing elit</p>
									   </div>
								   </div>
							   </div>
						   </div>
					   </div>
				   </div>
			   </div>
			</li> -->
			<li class="mb-dropdown mobile-screen">
				<button class="header-btn inter btn-hover" data-bs-target="#contactUs" data-bs-toggle="modal"
					type="button">Contact us</button>
			</li>
		</ul>
	</nav>

	<div class="flex items-center xl:mb-0 xl:self-center desktop-screen">
		<div class="items-center xl:flex">
			<span class="mr-4">
				<button class="header-btn inter btn-hover" data-bs-target="#contactUs" data-bs-toggle="modal"
					type="button">Contact us</button>
			</span>
		</div>
	</div>
</div>
</header>

<!-- Modal -->

<div class="modal fade" id="contactUs" tabindex="-1" role="dialog" aria-labelledby="contactUsLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content" style="padding:0 !important;width:100%;">
		<div class="modal-header">
			<h5 class="modal-title font-bold" id="contactUsLabel1">Please fill the Form</h5>
			<button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
			</button>
		</div>
		<div class="modal-body">
			<div class="relative">
				<script is:inline>
				  hbspt.forms.create({
					region: "na1",
					portalId: "6967036",
					formId: "731ca258-9439-4af9-8baf-5fd2324e7441",
					target: "#hubspotFormContact",
					onFormSubmit: function ($data) {
					  setTimeout(function() {
						document.getElementById("contactUsLabel1").classList.add("hide-fhead"); }, 1000);
				  },
				  });
				</script>
				<div id="hubspotFormContact"></div>
			  </div>
		</div>
	</div>
</div>
</div>

<!-- Script -->

<script>
function openModal(modalId) {
    closeAllModals();  
    var modal = document.getElementById(modalId);
    modal.classList.remove('hidden-modal');

    var button = document.querySelector('button[data-modal-id="' + modalId + '"]');
    if (button) {
        button.classList.add('highlight');
    }
}

function closeModal(modalId) {
    var modal = document.getElementById(modalId);
    modal.classList.add('hidden-modal');

    // Remove highlight class from the button
    var button = document.querySelector('button[data-modal-id="' + modalId + '"]');
    if (button) {
        button.classList.remove('highlight');
    }
}

function closeAllModals() {
    document.querySelectorAll('.mb-dropdown .fixed').forEach(function(modal) {
        modal.classList.add('hidden-modal');
    });

    document.querySelectorAll('.mb-dropdown button').forEach(function(button) {
        button.classList.remove('highlight');
    });
}

function setupEventListeners() {
    var isMobile = window.matchMedia("(max-width: 1023px)").matches;
    var dropdowns = document.querySelectorAll('.mb-dropdown');

    dropdowns.forEach(function(dropdown) {
        var modalId = dropdown.getAttribute('data-modal-id');
        var button = dropdown.querySelector('button');

        // Remove previous event listeners if any
        var newButton = button.cloneNode(true);
        button.parentNode.replaceChild(newButton, button);
        button = newButton;

        if (isMobile) {
            button.addEventListener('click', function() {
                var modal = document.getElementById(modalId);
                if (modal.classList.contains('hidden-modal')) {
                    openModal(modalId);
                } else {
                    closeModal(modalId);
                }
            });
        } else {
            dropdown.addEventListener('mouseover', function() {
                openModal(modalId);
            });
            dropdown.addEventListener('mouseout', function() {
                closeModal(modalId);
            });
        }
    });
}

window.addEventListener('load', function() {
    document.querySelectorAll('.mb-dropdown .fixed').forEach(function(modal) {
        modal.classList.add('hidden-modal');
    });
    setupEventListeners();
});
window.addEventListener('resize', setupEventListeners);

document.addEventListener('DOMContentLoaded', () => {
    const toggleButton = document.querySelector('.toggle-mobile');
    const navMenu = document.querySelector('.hidden-mobile');

    if (toggleButton && navMenu) {
        toggleButton.addEventListener('click', () => {
            navMenu.classList.toggle('block');
        });
    }
});

</script>