{% extends "templates/web.html" %}

{% block title %}GETPOS for Easy Warehouse Management | NestorBird{% endblock %}

{% block meta %}

{% endblock %}

{% block content %}

<!-- Section 1 -->
<section class="relative hr-banner">
    <div class="relative mx-auto lg:max-w-7xl max-lg:max-w-7xl max-sm:w-full justify-between hr-banner-gap">
        <img src="/assets/getpos/images/hr-left-line.webp" alt="hr-left-line" class="hr-left-line" />
       <h1 class="inter">HR & Payroll</h1>
       <img src="/assets/getpos/images/hr-right-line.webp" alt="hr-right-line" class="hr-right-line" />
       <div class="flex items-center hr-animating-text">
       <div class="flex flex-col w-1/2">
        <div class="retail-hero-slide">
            <h2 class="Gelasio">GETPOS for <br><span class="pink-span">HR & Payroll</span></h2>
            <p class="inter">Automate routine tasks, minimize the risk of errors, <br>save time, and focus on strategic activities.</p>
          </div>
      </div>
      <div class="w-1/2">
          <img src="/assets/getpos/images/hr-right-img.webp" alt="hero-img" class="hr-right-img" />
      </div>
    </div>
    </div>
</section>
<!-- CTA 1 -->
<section class="payroll-need">
    <img alt="payroll-need" src="/assets/getpos/images/payroll-need-righttop.webp" class="payroll-need-righttop">
    <img alt="payroll-need" src="/assets/getpos/images/payroll-need-lefttop.webp" class="payroll-need-lefttop">
    <div class="relative mx-auto lg:max-w-7xl max-lg:max-w-7xl max-sm:w-full">
        <div class="flex payroll-need-text">
            <div class="w-2/5">
                <img alt="payroll-need" src="/assets/getpos/images/payroll-need1.webp" class="payroll-need1">
                <img alt="payroll-need" src="/assets/getpos/images/payroll-need1-bg.webp" class="payroll-need1-bg">
            </div>
            <img alt="payroll-need" src="/assets/getpos/images/payroll-need3.webp" class="payroll-need3">
            <div class="w-3/5">
                <img alt="payroll-need" src="/assets/getpos/images/payroll-need-2.webp" class="payroll-need2">
                <h2 class="inter">Well-managed<span class="pink-span"> HR & <br>Payroll</span> - The Need</h2>
                <p class="inter">The systematic management of HR and payroll is fundamental for maintaining smooth business operations. GETPOS addresses this need by offering a strong cloud-based system that provides tools for tracking financial transactions, managing employee records, processing payroll, and ensuring compliance with regulatory requirements.</p>
                <div class="wms-cta2-div flex"> <a class="cursor-pointer btn-hover" data-bs-target="#contactUs" data-bs-toggle="modal">Book a Free Demo</a></div>
            </div>
        </div>
    </div>
    <img alt="payroll-need" src="/assets/getpos/images/payroll-need-bottomleft.webp" class="payroll-need-bottomleft">
</section>

<!-- Complete Solution -->
<section class="hr-features">
    <img alt="payroll-need" src="/assets/getpos/images/hr-features-bg3.webp" class="hr-features-bg3 absolute">

    <div class="relative mx-auto lg:max-w-7xl max-lg:max-w-7xl max-sm:w-full flex flex-col">
    <div class="flex hr-features-text">
            <div class="hr-features-icon">
                <img alt="hr-features-icon1" src="/assets/getpos/images/hr-features-icon1.webp" class="hr-features-icon1">
            </div>
            <div class="hr-features-heading">
                <h2 class="inter">GETPOS Software: <br><span class="pink-span">Unified POS system</span> <br>for HR & Payroll</h2>
            </div>
            <div class="hr-features-para">
                <p class="inter">The systematic management of HR and payroll is fundamental for maintaining smooth business operations. </p>
                <p class="inter">GETPOS addresses this need by offering a strong cloud-based system that provides tools for tracking financial transactions, managing employee records, processing payroll & ensuring compliance with regulatory requirements.</p>
            </div>

    </div>

    <div class="employee1-animation">
    <img alt="payroll-need" src="/assets/getpos/images/hr-features-bg1.webp" class="hr-features-bg6 absolute">
    <img alt="payroll-need" src="/assets/getpos/images/payroll-need-2.webp" class="hr-features-bg1 absolute">
    <img alt="payroll-need" src="/assets/getpos/images/hr-features-bg2.webp" class="hr-features-bg2 absolute">
    <img alt="payroll-need" src="/assets/getpos/images/hr-features-bg4.webp" class="hr-features-bg4 absolute">
    <img alt="payroll-need" src="/assets/getpos/images/hr-features-bg5.webp" class="hr-features-bg5 absolute">

            <div>
                <img alt="hr-employee1-right" src="/assets/getpos/images/hr-employee1-right.webp" class="hr-employee1-right">
            </div>

            <div>
                <img alt="hr-employee1" src="/assets/getpos/images/hr-employee1.webp" class="hr-employee1">
            </div>
            <div>
            <img alt="hr-employee1-left" src="/assets/getpos/images/hr-employee1-left.webp" class="hr-employee1-left">
        </div>
        
    </div>
    
    <div class="hr-complete-box1 flex-reversed flex hr-feature-animation1">
        
        <div class="hr-right">
            <img alt="hr-features-icon1" src="/assets/getpos/images/hr-features-icon2.webp" class="hr-features-icon">
            <h3 class="inter">Employee Lifecycle</h3>
            <p class="inter">From onboarding to offboarding, GETPOS covers the entire employee lifecycle. Streamline processes for new hires, manage transitions within the company, and handle exits efficiently.</p>
        </div>
        <div class="hr-left">
            <img alt="hr-feature1" src="/assets/getpos/images/hr-employee2.webp" class="hr-feature2">
        </div>
    </div>

    <div class="hr-complete-box1 reversed-flex  flex hr-feature-animation2">
        
        <div class="hr-left">
            <img alt="hr-feature1" src="/assets/getpos/images/hr-employee3.webp" class="hr-feature3">
        </div>
        <img alt="payroll-need" src="/assets/getpos/images/hr-features-bg3.webp" class="hr-features-leave absolute">
        <div class="hr-right">
            <img alt="hhr-features-icon1" src="/assets/getpos/images/hr-features-icon3.webp" class="hr-features-icon">
            <h3 class="inter">Leave and Attendance</h3>
            <p class="inter">Manage leave requests, track attendance, and ensure compliance with company policies. GETPOS makes it easy to monitor and approve leave. This means minimal disruption to your workflow.</p>
        </div>
    <img alt="payroll-need" src="/assets/getpos/images/hr-features-bg5.webp" class="hr-features-attendance absolute">
    </div>

    <div class="hr-complete-box1 flex-reversed flex hr-feature-animation1">
      
        <div class="hr-right">
        <img alt="hhr-features-icon1" src="/assets/getpos/images/hr-features-icon4.webp" class="hr-features-icon">
        <img alt="payroll-need" src="/assets/getpos/images/hr-employee4-bg.webp" class="hr-employee4-bg absolute">
            <h3 class="inter">Shift Management</h3>
            <p class="inter">Organize and manage employee shifts with ease. GETPOS provides tools to create, modify, and assign shifts, ensuring optimal coverage and productivity.</p>
        </div>
        <div class="hr-left">
            <img alt="hr-feature1" src="/assets/getpos/images/hr-employee4.webp" class="hr-feature4">
        </div>
    </div>

    <div class="employee5-animation">
        <img alt="payroll-need" src="/assets/getpos/images/hr-features-bg1.webp" class="hr-features-bg6 absolute">
        
        <div>
            <img alt="hr-employee1-right" src="/assets/getpos/images/hr-employee5-right.webp" class="hr-employee5-right">
        </div>
        <div>
            <img alt="hr-employee1-left" src="/assets/getpos/images/hr-employee5-left.webp" class="hr-employee5-left">
        </div>
        <div>
            <img alt="hr-employee1" src="/assets/getpos/images/hr-employee5.webp" class="hr-employee5">
        </div>
    </div>

    <div class="hr-complete-box1 reversed-flex flex hr-feature-animation2">
        <img alt="payroll-need" src="/assets/getpos/images/hr-features-bg3.webp" class="hr-features-leave absolute">
            <div class="hr-left">
                <img alt="hr-feature1" src="/assets/getpos/images/hr-employee6.webp" class="hr-feature6">
            <img alt="payroll-need" src="/assets/getpos/images/hr-employee6-bg.webp" class="hr-employee6-bg absolute">
            </div>
            <div class="hr-right">
                <img alt="hr-features-icon1" src="/assets/getpos/images/hr-features-icon6.webp" class="hr-features-icon">
                <h3 class="inter">Hiring</h3>
                <p class="inter">Facilitate the hiring process with GETPOS. Post job openings, track applications, and manage interviews and selection processes all in one place.</p>
            </div>
    </div>
    
    <div class="hr-complete-box1 flex-reversed flex hr-feature-animation1">
           
            <div class="hr-right">
                <img alt="hr-features-icon1" src="/assets/getpos/images/hr-features-icon7.webp" class="hr-features-icon">
                <h3 class="inter">Performance Management</h3>
                <p class="inter">Track and evaluate employee performance with GETPOS. Set goals, conduct appraisals, and provide feedback to help employees grow and excel in their roles.</p>
            </div>
            <div class="hr-left">
                <img alt="hr-feature1" src="/assets/getpos/images/hr-employee7.webp" class="hr-feature7">
            </div>
    </div>

    <div class="hr-complete-box1 reversed-flex flex hr-feature-animation2">
           
            <div class="hr-left">
                <img alt="hr-feature1" src="/assets/getpos/images/hr-employee8.webp" class="hr-feature8">
            </div>
            <div class="hr-right">
                <img alt="hr-features-icon1" src="/assets/getpos/images/hr-features-icon8.webp" class="hr-features-icon">
                <h3 class="inter">Fleet Management</h3>
                <p class="inter">Manage your company's fleet effectively. Track vehicle usage, maintenance schedules, and expenses to ensure your fleet is always ready for use.</p>
            </div>
    </div>
    </div>

    <div class="hr-complete-box1 hr-complete-box2 flex-reversed flex hr-feature-animation9">
        <div class="hr-right">
            <img alt="hr-feature1" src="/assets/getpos/images/hr-employee9-bg.webp" class="hr-employee9-bg absolute">
            <img alt="hr-features-icon1" src="/assets/getpos/images/hr-features-icon9.webp" class="hr-features-icon">
            <h3 class="inter">Training</h3>
            <p class="inter">
                Organize and manage training programs for employees. GETPOS helps you schedule sessions, track attendance,
                and monitor the progress of training initiatives.
            </p>
            <img alt="hr-feature1" src="/assets/getpos/images/payroll-need-2.webp" class="hr-employee9-bg2 absolute">
        </div>
        <div class="hr-left">
            <img alt="hr-features-icon1" src="/assets/getpos/images/hr-employee9-top.webp" class="hr-employee9-top absolute">
            <img alt="hr-features-icon1" src="/assets/getpos/images/hr-employee9-bottom.webp" class="hr-employee9-bottom absolute">
            <img alt="hr-feature1" src="/assets/getpos/images/hr-employee9.webp" class="hr-employee9">
        </div>
    </div>

    <div class="relative mx-auto lg:max-w-7xl max-lg:max-w-7xl max-sm:w-full flex flex-col">
       
        <div class="employee1-animation" style="padding: 0;">
                    <div>
                        <img alt="hr-employee1-right" src="/assets/getpos/images/hr-employee10-right.webp" class="hr-employee1-right hr-employee10-right">
                    </div>
        
                    <div>
                        <img alt="hr-employee1" src="/assets/getpos/images/hr-employee10.webp" class="hr-employee1">
                    </div>
                    <div>
                    <img alt="hr-employee1-left" src="/assets/getpos/images/hr-employee10-left.webp" class="hr-employee1-left hr-employee10-left">
                </div>
                
            </div>
    </div>
</section>
<!-- last cta -->
<section class="hr-cta">
    <div class="relative mx-auto lg:max-w-7xl max-lg:max-w-7xl max-sm:w-full items-center hr-cta-box">
        <div class="flex flex-col justify-between">
            <div class="stat-count-rows2">
                <div class="hr-cta-text">
                    <h2 class="inter">Nest-in with Us - Join Us! <br>Simplify, Optimize, and Succeed!</h2>
                    <p class="inter">Join us at NestorBird and experience the power of GETPOS. Our ERP-POS system is designed to simplify your business operations, allowing you to focus on what matters most – growing your business. Let us help you organize your processes and achieve your business goals.</p>
                </div>
                <div class="flex"> <a class="cursor-pointer btn-hover" data-bs-target="#contactUs"
                    data-bs-toggle="modal">Book a Free Demo</a></div>
            </div>
        </div>
        <div class="laptop-screen"> <img alt="cta1-img" src="/assets/getpos/images/hr-cta-right.webp" class="hr-cta-img">
        </div>
    </div>
</section>


{% endblock %}

{% block script %}

<script>
    document.body.classList.add('hr-page');

    document.addEventListener("DOMContentLoaded", function() {
    const observerOptions = {
        threshold: 0.1
    };

    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                document.querySelector('.hr-employee1-left').classList.add('hr-employee1-show');
                document.querySelector('.hr-employee1-right').classList.add('hr-employee1-show');
            }
        });
    }, observerOptions);

    observer.observe(document.querySelector('.hr-employee1-left'));
});

document.addEventListener("DOMContentLoaded", function() {
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('in-view-hr');
            }
        });
    });

    const hrFeatureImages = document.querySelectorAll('.hr-feature2, .hr-feature3, .hr-feature4, .hr-feature6, .hr-feature7, .hr-feature8');
    hrFeatureImages.forEach(image => {
        observer.observe(image);
    });
});

document.addEventListener("DOMContentLoaded", function() {
    const observerOptions = {
        threshold: 0.5
    };

    const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.closest('.employee5-animation').classList.add('animate');
                observer.unobserve(entry.target); // To stop observing once animation is triggered
            }
        });
    }, observerOptions);

    const leftImage = document.querySelector('.hr-employee5-left');
    observer.observe(leftImage);
});

document.addEventListener("DOMContentLoaded", function() {
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('animate-hr9');
                observer.unobserve(entry.target); // Stop observing after adding the class
            }
        });
    });

    // Select all images with the classes .hr-employee9-top and .hr-employee9-bottom
    const targetSections = document.querySelectorAll('.hr-employee9-top, .hr-employee9-bottom');
    
    // Observe each selected image
    targetSections.forEach(section => {
        observer.observe(section);
    });
});

document.addEventListener("DOMContentLoaded", function() {
    const observerOptions = {
        threshold: 0.1
    };

    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                document.querySelector('.hr-employee10-left').classList.add('hr-employee1-show');
                document.querySelector('.hr-employee10-right').classList.add('hr-employee1-show');
            }
        });
    }, observerOptions);

    observer.observe(document.querySelector('.hr-employee10-left'));
});

document.addEventListener("DOMContentLoaded", function() {
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('animate-banner-hr');
                observer.unobserve(entry.target); // Stop observing after animation is triggered
            }
        });
    });

    const targetSection = document.querySelector('.hr-banner');
    
    if (targetSection) {
        observer.observe(targetSection);
    }
});

document.addEventListener("DOMContentLoaded", function() {
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('show-need');
                observer.unobserve(entry.target); // Stop observing after animation is triggered
            }
        });
    });

    const target = document.querySelector('.payroll-need1-bg');
    if (target) {
        observer.observe(target);
    }
});

</script>

{% endblock %}