body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}
.main-content {
  display: flex;
  flex-direction: row;
  margin-left: 4rem;
}
.items-section {
  width: 78rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.cart-section {
  width: 34.5rem;
  display: flex;
  justify-content: end;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #dc1e44;
  width: 2rem;
  height: 2rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 999999999999999;
}

.popup {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 35%;
  transition: all 5s ease-in-out;
  min-height: 25vh;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .modal-content {
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
a {
  color: black;
  text-decoration: none !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.input-search-box {
  width: 25rem;
  margin-top: 1rem;
}
.search-product-category::placeholder {
  text-align: center;
}
.search-product-category:focus {
  outline: none;
  border: none;
}
.search-product-category {
  font-size: 16px;
  width: 25rem;
  height: 3rem;
  border-radius: 8px;
  border: 1px #d3d3d3;
}

@media screen and (max-width: 2600px) {
  .items-section {
    width: 113rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .cart-section {
    width: 40rem;
    display: flex;
    justify-content: end;
  }
}

@media screen and (max-width: 1900px) {
  .items-section {
    width: 78rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .cart-section {
    width: 30rem;
    display: flex;
    justify-content: end;
  }
}

@media screen and (max-width: 1680px) {
  .items-section {
    width: 68rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .cart-section {
    width: 29.5rem;
    display: flex;
    justify-content: end;
  }
}

@media screen and (max-width: 1620px) {
  .items-section {
    width: 63rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .cart-section {
    width: 29rem;
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 1440px) {
  .items-section {
    width: 52rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .cart-section {
    width: 28rem;
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 1368px) {
  .items-section {
    width: 51rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .cart-section {
    width: 27rem;
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 1280px) {
  .items-section {
    width: 46rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .cart-section {
    width: 27rem;
    display: flex;
    justify-content: end;
  }
}
@media screen and (max-width: 1024px) {
  .items-section {
    width: 34rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .cart-section {
    width: 22rem;
    display: flex;
    justify-content: end;
  }
}

@media screen and (max-width: 600px) {
}

h4 {
  font-weight: 100;
}
